<template>
  <v-flex>
    <v-app-bar app height="66px" elevation="-1" class="white">
      <v-img src="/logo.png" max-width="130px" />
      <v-spacer />
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-icon v-bind="attrs" v-on="on" color="satu" large>mdi-menu</v-icon>
        </template>
        <v-list class="pa-0 ma-0">
          <v-list-item v-for="i in topList" :key="i.to" :to="i.to">
            <v-list-item-title>{{ i.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-bottom-navigation app v-model="menu" height="80px" color="satu">
      <v-btn v-for="j in bottomList" :key="j.to" :to="j.to" :value="j.to">
        <span>{{ j.title }}</span>
        <v-icon>{{ j.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      menu: undefined,
      topList: [
        { title: 'Beranda', to: '/' },
        { title: 'Tentang', to: '/about' },
      ],
      bottomList: [
        { title: 'Beranda', to: '/', icon: 'mdi-home' },
        { title: 'Favorit', to: '/favorit', icon: 'mdi-heart' },
        { title: 'Jual', to: '/jual', icon: 'mdi-gesture-double-tap' },
        { title: 'Iklanku', to: '/iklanku', icon: 'mdi-checkerboard' },
        { title: 'Akun', to: '/akun', icon: 'mdi-account' },
      ],
    }
  },
}
</script>

<style></style>
