<template>
  <v-app>
    <v-main>
      <frame-navigation />
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
import FrameNavigation from '../components/common/FrameNavigation.vue'
export default {
  components: { FrameNavigation },
}
</script>

<style></style>
