<template>
  <v-app dark>
    <v-container fluid class="fill-height justify-center text-center">
      <v-expand-transition>
        <v-row no-gutters class="text-center justify-center py-0">
          <v-img src="/logo.png" eager max-width="50vw" />
        </v-row>
      </v-expand-transition>
      <span class="dua--text font-weight-bold headline">
        {{ error?.statusCode === 404 ? pageNotFound : otherError }}
      </span>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: 'Sedang Dalam Pengembangan',
      otherError: 'Sistem Bermasalah',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
