<template>
  <v-container fluid class="fill-height text-center justify-center">
    <v-expand-transition>
      <v-row no-gutters class="text-center justify-center py-0">
        <v-img src="/logo.png" eager max-width="50vw" />
      </v-row>
    </v-expand-transition>
  </v-container>
</template>

<script>
export default {
  head: {
    title: 'Beranda',
  },
}
</script>

<style></style>
